<div class="visits index">
  <%= flash_message %>

  <h1>MeetMe Visits</h1>
  <hr>
  <h2>Visits this Month at Location: <em><%= @location.name %></em></h2>
    <ul>
      <% @location.monthly_visits(7,2014).each do |visit| %>
        <li>
          <p><strong>User: </strong><a href="<%= location_visit_path(@location, visit) %>" class="location"><%= visit.user.user_name %> will be visiting</a></p>
          <p><strong>From: </strong> <%= visit.from_date %></p>
          <p><strong>Until: </strong><%= visit.to_date %></p>
          <p><%= link_to 'edit', edit_location_visit_path(@location, visit), :class => 'edit' %> <%= link_to 'delete', location_visit_path(@location, visit), method: 'delete', confirm: "Are you sure you want to delete this visit?", :class => 'delete' %></p>
        </li>
      <% end %>
    </ul>
    <hr>

    <p><%= link_to 'Add a new visit for this Location', new_location_visit_path(@location), :class => 'new' %> <%= link_to 'Return to all MeetMe Locations', locations_path, :class => 'location' %></p>
</div>