<div class="visit show">
  <%= flash_message %>

  <h1>MeetMe Visit</h1>

  <h2>Location: <%= @visit.location.name %></h2>
  <h4><%= @visit.location.city %>, <%= @visit.location.country %></h4>

  <p><%= link_to @visit.user.user_name, user_path(@visit.user.id) %> will be here from:</p>
  <p><%= @visit.from_date %></a> until <%= @visit.to_date %></p>

  <hr />

  <p><%= link_to 'edit', edit_location_visit_path(@location, @visit), :class => 'edit' %> <%= link_to 'delete', location_visit_path(@location, @visit), method: 'delete', confirm: "Are you sure you want to delete this visit?", :class => 'delete' %></p>

  <hr>

  <p><%= link_to 'Return to all Visits', location_visits_path(@location), :class => 'location' %></p>
</div>