<div class="users index">
  <h1>MeetMe Users</h1>
  <ul>
    <% @users.each do |user| %>
      <li><p><strong>Username: </strong><%= link_to user.user_name, user_path(user) %> (<%= user.user_firstname %> <%= user.user_lastname %>)</p>
      <p><%= link_to 'edit', edit_user_path(user) %> <%= link_to 'delete', user_path(user), method: 'delete', confirm: "Are you sure you want to delete this user?" %></p>
      </li>
    <% end %>
  </ul>
  <hr>
  <%= link_to 'Create new user', new_user_path(@user) %>
</div>