<!DOCTYPE html>
<html>
  <head>
    <title>MeetMe App</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <header>
      <ul class="header_bar">
        <li class="header_bar_item home"><%= link_to(image_tag("meetme.png", :alt => "MeetMe Home", :title => "MeetMe Home"), "/", :class => "home") %></li>
        <li class="header_bar_item"><%= link_to 'All Locations', locations_path %></li>
        <li class="header_bar_item"><%= link_to 'Contact Us', contact_path %></li>
      </ul>
    </header>
    <div class="main-content">
      <%= yield %>
    </div>

  </body>
</html>
